<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CrmDemoEntities" connectionString="metadata=res://*/devart.csdl|res://*/devart.ssdl|res://*/devart.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=SCOTT;Password=tiger;Server=DESARROLLO;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>